@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Sora", sans-serif;
}

:root {
  --verdeOscuro: #004d40;
  --amarillo: #ffca28;
}

#body {
  overflow-x: hidden;
  width: 100vw;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 90px;
  background-color: #004d40;
  padding: 0px 35px;
  transition: all 0.3s ease;
}

#header.header-small {
  transition: all 0.3s ease;
  background-color: var(--verdeOscuro);
  height: 50px;
  opacity: 0.9;
}

#header.header-small .logo {
  width: 175px;
  transition: all 0.3s ease;
}

.logo {
  width: 250px;
  height: auto;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  padding: 0px 35px 0px 0px;
}

.navbar-list a {
  display: flex;
  gap: 3px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  background-color: #015c4d;
  z-index: 4;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-a {
  display: block;
  color: var(--amarillo);
  padding: 10px;
  font-size: 0.7rem;
}

.dropdown-a:hover {
  color: #00796b;
  background-color: #055148;
}

.flecha {
  width: 18px;
}

.list-a {
  color: var(--amarillo);
}

.list-a:hover {
  color: #00796b;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* SECTION HERO */

#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 73vh;
  background: url(../img/imgBack/packaging.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hache-uno {
  background: linear-gradient(
    to bottom,
    white,
    var(--amarillo),
    var(--verdeOscuro)
  );
  color: transparent;
  background-clip: text;
  font-size: 3rem;
}

/* SECTION MARCAS */

#marcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 50px;
  padding: 30px 0px;
}

/* NAVBAR MARCAS */

.logo-marcas {
  width: 75px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--amarillo);
}

.logo-marcas:hover {
  transform: scale(1.1);
  background-color: var(--amarillo);
}

.navbarm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--verdeOscuro);
}

.ulm {
  display: flex;
  gap: 100px;
  padding: 35px 30px;
}

.marca {
  color: var(--amarillo);
}

.marca:hover {
  color: #00796b;
}

/* SECTION PACKAGING */

#packaging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 50px;
}

.hache-dos {
  color: var(--amarillo);
  background-color: var(--verdeOscuro);
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  word-spacing: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  gap: 30px;
}

.container-pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-pack-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.container-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sun {
  text-align: center;
}

.hache-seis,
.p-text {
  font-size: 1.1rem;
  color: var(--verdeOscuro);
}

.hache-tres {
  color: var(--verdeOscuro);
  font-size: 1.8rem;
}

.hache-cuatro {
  color: #00796b;
  font-size: 1.7rem;
}

.punto {
  color: var(--verdeOscuro);
  font-size: 1.5rem;
  padding: 0px 5px 0px 0px;
}

.li-sun {
  color: var(--verdeOscuro);
  font-size: 1.1rem;
  font-weight: 900;
}

.container-hp {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 15px;
}

.container-hp-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hp {
  width: 125px;
  height: auto;
}

/* SECTION SUNTHINK */

#sunthinks,
#flora,
#saga,
#industrial,
#iecho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 25px;
}

.container-impresoras {
  display: flex;
  width: 100vw;
  padding: 35px 30px;
}

.container-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  gap: 35px;
}

.layout-even .container-img {
  order: 2;
}

.layout-even .container-der {
  order: 1;
}

.layout-odd .container-img {
  order: 1;
}

.layout-odd .container-der {
  order: 2;
}

.logo-brand {
  width: 175px;
  height: auto;
}

.logo-pdf,
.logo-whats {
  width: 22px;
  height: auto;
}

.impresora-img {
  width: 500px;
  height: auto;
}

.container-der {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  width: 50%;
  padding: 20px 40px;
}

.ul-detalles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-btn {
  display: flex;
  gap: 75px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 30px;
  border-radius: 30px;
  background: var(--verdeOscuro);
  color: var(--amarillo);
  border: 3px solid var(--amarillo);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #00796b;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verdeOscuro);
  padding: 25px 0px;
}

.p-footer {
  color: var(--amarillo);
}

/*-------------MEDIA QUERIES---------------*/

@media screen and (max-width: 960px) {
  .abrir-menu,
  .cerrar-menu {
    width: 150px;
    padding: 10px;
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex; /* Ocultamos el menú por completo al principio */
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45vw;
    z-index: 12;
    border-left: 2px solid var(--amarillo);
    background-color: #015c4d;
    padding: 1.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); /* Sigue simulando el overlay */
  }

  /* Mostrar el menú cuando se agrega la clase "visible" */
  .navbar.visible {
    display: flex; /* Muestra el menú */
    opacity: 1;
    visibility: visible;
  }

  .icono-menu {
    width: 25px;
  }

  .navbar.visible {
    opacity: 1;
    visibility: visible;
  }

  .navbar-list {
    flex-direction: column;
    width: 150px;
    padding: 10px;
    z-index: 12;
  }

  .list-a {
    padding: 7px;
  }

  /* Ocultar el submenú por defecto */
  .dropdown-content {
    display: none;
    position: static;
    width: 100%;
    background-color: #015c4d;
    box-shadow: none;
  }

  /* Mostrar el dropdown cuando tenga la clase "active" */
  .dropdown-content.active {
    display: block;
    position: relative; /* Hacer que el submenú se muestre debajo de Rubros */
  }

  /* Estilos adicionales para los enlaces del submenú */
  .dropdown-a {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
  }

  /* Remover hover que causa problemas */
  .dropdown:hover .dropdown-content,
  .dropdown-a:hover {
    display: block; /* Mostrar el submenú cuando esté activo (no usar hover para ocultarlo) */
  }

  .no-scroll {
    overflow: hidden;
    position: fixed;
  }
  .logo {
    width: 240px;
  }

  .header {
    padding: 0;
  }

  .hero,
  .img-flora-container {
    background-attachment: local;
  }
}

@media screen and (max-width: 800px) {
  .ulm {
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 175px;
  }

  .hache-uno {
    font-size: 1.6rem;
    padding: 35px;
  }

  .hache-dos {
    font-size: 1rem;
  }

  .hache-seis {
    font-size: 0.7rem;
  }

  .hache-tres {
    font-size: 1rem;
  }

  .hache-cuatro {
    font-size: 1rem;
  }

  .p-text {
    font-size: 0.7rem;
  }

  .li-sun {
    font-size: 0.8rem;
  }

  .logo-brand {
    width: 95px;
    height: auto;
  }

  .logo-pdf,
  .logo-whats {
    width: 12px;
    height: auto;
  }

  .impresora-img {
    width: 200px;
    height: auto;
  }

  .container-btn {
    display: flex;
    gap: 5px;
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    border-radius: 25px;
    background: var(--verdeOscuro);
    color: var(--amarillo);
    border: 3px solid var(--amarillo);
    cursor: pointer;
    transition: transform 0.5s ease;
  }
}
